@import "../../common/colors.scss";

.movie_list,
.show_list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}
.shows_error{
  color: red;
}

// .movie_container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//   grid-gap: 15px;
// }